<launch>
<!-- camera node -->
<!-- as of 30/012017, usb_cam does not compile and uvc_cam is obsolete. -->
<remap from="/cam_node/image_raw" to="rgb"/>
<node pkg="cv_camera" type="cv_camera_node" name="cam_node" output="screen">
  <param name="device_d" value="0" /> <!-- the device to use -->
  <param name="image_width" value="320" />
  <param name="image_height" value="240" />
    <param name="rate" value="30" /> <!-- frames per second -->
</node>

<!-- rgb image to face coords -->
<remap from="face2point/point"   to="/avatar/iris_position"/>
<remap from="face2point/eyes_state" to="/avatar/eyes_state"/>
<node pkg="rosavatar" type="face2point.exe" name="face2point"  output="screen" respawn="true"
      args="_display:=true" />

<!-- mic volume monitor -->
<remap from="/systemSoundLevel" to="/avatar/mouth_vol" />
<node pkg="rospavumeter" type="vumeter.exe" name="micmon"
      args="_record:=false"/>

<!-- avatar -->
<node pkg="rosavatar" type="rosavatar.exe" name="avatar" output="screen" respawn="true">
  <param name="xml_file" value="$(find rosavatar)/data/avatars/avatar_octopus.xml"/>
</node>
</launch>
