<launch>

<!-- mouse position to face coords -->
<remap from="win2point/point" to="/avatar/iris_position"/>
<remap from="win2point/state" to="/avatar/state"/>
<node pkg="rosavatar" type="win2point.exe" name="win2point"  output="screen" respawn="true"/>

<!-- mic volume monitor -->
<remap from="/systemSoundLevel" to="/avatar/mouth_vol" />
<node pkg="rospavumeter" type="vumeter.exe" name="micmon"
      args="_record:=false"/>

<!-- avatar -->
<node pkg="rosavatar" type="rosavatar.exe" name="avatar" output="screen" respawn="true">
  <param name="eyes_folder" value="$(find rosavatar)/third_parties/avatar/data/mini_eyes"/>
  <param name="led_prefix" value="$(find rosavatar)/third_parties/avatar/data/leds/blue"/>
  <param name="nleds" value="9" />
  <param name="bg_r" value="255" />
  <param name="bg_g" value="255" />
  <param name="bg_b" value="255" />
</node>

<!-- show avatar with image_view -->
<node pkg="image_view" type="image_view"   name="avatar_viewer" output="screen" respawn="true"
      args="image:=/avatar/avatar_image"/>

</launch>
