<launch>

<!-- mouse position to face coords -->
<remap from="win2point/point" to="/avatar/iris_position"/>
<remap from="win2point/eyes_state" to="/avatar/eyes_state"/>
<node pkg="rosavatar" type="win2point.exe" name="win2point"  output="screen" respawn="true"/>

<!-- mic volume monitor -->
<remap from="/systemSoundLevel" to="/avatar/mouth_vol" />
<node pkg="rospavumeter" type="vumeter.exe" name="micmon"
      args="_record:=false"/>

<!-- avatar -->
<node pkg="rosavatar" type="rosavatar.exe" name="avatar" output="screen" required="true">
  <param name="xml_file" value="$(find rosavatar)/data/avatars/avatar_unai.xml"/>
<!--
  <param name="xml_file" value="$(find rosavatar)/data/avatars/avatar_mini.xml"/>
  <param name="xml_file" value="$(find rosavatar)/data/avatars/avatar_mip.xml"/>
  <param name="xml_file" value="$(find rosavatar)/data/avatars/avatar_octopus.xml"/>
-->
</node>

</launch>
